<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head.ejs %>
  <title>GUH19 Hub - Admin</title>
  <link rel="stylesheet" href="/css/hardware.css">
</head>

<body>
  <div class="wrapper">
    <% include ../../partials/navbar.ejs %>
    <div class="main-panel">
      <div class="content">
        <!-- Confirmation Modal -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmModalLabel">Do you really want to delete this item?</h5>
                </div>
                <div class="modal-body">
                  <div class="img-container">
                    <img src="" alt="" id="confirmModalImg" class="modal-img">
                  </div>
                  <div id="confirmModalBody">
                  </div>
                </div>
                <div class="modal-footer">
                  <button id="modal-confirm-button" type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div id="update-panel" class="card" style="display: none">
                          <div class="card-header card-header-tabs card-header-warning">
                            <h4 class="card-title">Update item</h4>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <img id="update-img-preview" class="img-container">
                              </img>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                      <span>
                                        <input id="update-item-stock" name="totalStock" type="number" placeholder="0" class="digit-input">
                                      </span>
                                      &nbsp; X &nbsp;
                                      <span>
                                        <input id="update-item-name" name="name" type="text" placeholder="name">
                                      </span>
                                      <input id="update-item-image" name="itemURL" type="text" class="form-control" placeholder="http://placekitten.com/300/200"
                                           oninput="previewImage('update-img-preview', this.value)">
                                      <input id="update-item-id" name="id" type="text" hidden>
                                  <button type="submit" class="btn btn-warning" onclick="editItemSubmit()">Update</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              <div class="row">
                <div class="card">
                      <div class="card-header card-header-tabs card-header-success">
                        <h4 class="card-title">Add item</h4>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <img id="add-img-preview" class="img-container">
                          </img>
                        </div>
                        <div class="row">
                          <div class="col-12">
                                  <span>
                                    <input id="add-item-stock" name="totalStock" type="number" placeholder="0" class="digit-input">
                                  </span>
                                  &nbsp; X &nbsp;
                                  <span>
                                    <input id="add-item-name" name="name" type="text" placeholder="name">
                                  </span>
                                  <input id="add-item-image" name="itemURL" type="text" class="form-control" placeholder="http://placekitten.com/300/200" oninput="previewImage('add-img-preview', this.value)">
                              <button type="submit" class="btn btn-success" onclick="addItem()">Add</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-tabs card-header-success">
                  <h4 class="card-title">Hardware overview</h4>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead class="text-success">
                      <th></th>
                      <th>Item</th>
                      <th>Total (Available) Stock</th>
                      <th>Taken (Reserved) Stock</th>
                      <th>Taken By</th>
                      <th>Reserved By</th>
                    </thead>
                    <tbody>
                      <% items.forEach(item => { %>
                        <tr>
                          <td>
                            <button class="btn-just-icon" onclick='deleteItemConfirm(<%= item.id %>)'>
                              <i class="fas fa-trash-alt delete-btn"></i>
                            </button>
                            <a href='javascript:editItem(<%= JSON.stringify(item) %>)'>
                              <i class="fas fa-pen edit-btn"></i>
                            </a>
                          </td>
                          <td>
                            <%= item.name %>
                          </td>
                          <td>
                            <%- item.totalStock %> (<%- item.totalStock - item.reservedStock - item.takenStock %>)
                          </td>
                          <td>
                            <%- item.takenStock %> (<%- item.reservedStock %>)
                          </td>
                          <td>
                            <% item.reservations.filter(reservation => reservation.isReserved === false).forEach(reservation => { %>
                              <a href="/user/<%- reservation.user.id %>"><%- reservation.user.name %></a>,
                            <% }) %>
                          </td>
                          <td>
                            <% item.reservations.filter(reservation => reservation.isReserved === true).forEach(reservation => { %>
                              <a href="/user/<%- reservation.user.id %>"><%- reservation.user.name %></a>,
                            <% }) %>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="/js/hardwareManagement.js"></script>
        <script>
          // Loading up the items to be used by the confirmation modal
          <% items.forEach(item => { %>
            items["<%= item.id %>"] = <%- JSON.stringify(item) %>;
          <% }) %>
        </script>
        <% include ../../partials/footer.ejs %>
      </div>
    </div>
</body>

</html>