<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head.ejs %>
  <title>GUH18 Hub - Dashboard</title>
  <link rel="stylesheet" href="/css/hardwareList.css">
</head>

<body>
  <div class="wrapper">
    <% include ../../partials/navbar.ejs %>
    <div class="main-panel">
      <div class="content">
        <!-- Confirmation Modal -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmModalLabel">Do you really want to delete this item?</h5>
                </div>
                <div class="modal-body">
                  <div class="imgContainer">
                    <img src="" alt="" id="confirmModalImg" class="modalImg">
                  </div>
                  <div id="confirmModalBody">
                  </div>
                </div>
                <div class="modal-footer">
                  <button id="modal-confirm-button" type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-success">
                  <h4 class="card-title">Hardware overview</h4>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="window.location.href = 'add'">Add item</button>
                  <table class="table">
                    <thead class="text-success">
                      <th></th>
                      <th>Item</th>
                      <th>Total (Available) Stock</th>
                      <th>Taken (Reserved) Stock</th>
                      <th>Taken By</th>
                      <th>Reserved By</th>
                    </thead>
                    <tbody>
                      <% items.forEach(item => { %>
                        <tr>
                          <td>
                            <button class="btn-just-icon" onclick='deleteItemConfirm(<%= item.id %>)'>
                              <i class="fas fa-trash-alt delete-btn"></i>
                            </button>
                            <a href="<%- item.id %>/edit">
                              <i class="fas fa-pen edit-btn"></i>
                            </a>
                          </td>
                          <td>
                            <%= item.name %>
                          </td>
                          <td>
                            <%- item.totalStock %> (<%- item.totalStock - item.reservedStock - item.takenStock %>)
                          </td>
                          <td>
                            <%- item.takenStock %> (<%- item.reservedStock %>)
                          </td>
                          <td>
                            <% item.reservations.filter(reservation => reservation.isReserved === false).forEach(reservation => { %>
                              <a href="/user/<%- reservation.user.id %>"><%- reservation.user.name %></a>,
                            <% }) %>
                          </td>
                          <td>
                            <% item.reservations.filter(reservation => reservation.isReserved === true).forEach(reservation => { %>
                              <a href="/user/<%- reservation.user.id %>"><%- reservation.user.name %></a>,
                            <% }) %>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="/js/hardwareList.js"></script>
        <script>
          <% items.forEach(item => { %>
            items["<%= item.id %>"] = {
              id: "<%= item.id %>",
              name: "<%= item.name %>",
              itemURL: "<%= item.itemURL %>",
              totalStock: "<%= item.totalStock %>",
            };
          <% }) %>
        </script>
        <% include ../../partials/footer.ejs %>
      </div>
    </div>
</body>

</html>