<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>SH2020 Hub - Dashboard</title>
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.5/jquery-jvectormap.min.css"
    integrity="sha256-iNez126P4WKiZigolYleAWMkO7xVsmNDnNSYc9Tdacc=" crossorigin="anonymous" />
</head>

<body>
  <div class="wrapper">
    <% include ../partials/navbar.ejs %>
    <div class="main-panel">
      <div class="content">

        <!-- Model for website introduction -->
        <div id="introModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Participant Address</h5>
              </div>
              <div class="modal-body">
                <form id="beforestartform" class="form" method="" action="">
                  <div class="card-body">
                    Please enter your address so we can send you prizes!

                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <label class="form-check-label" for="tshirt">T-Shirt Size (Unisex): <span class="red">*</span></label>
                        <select id="tshirt" name="tshirt" class="form-control" required>
                          <option value="xs">XS</option>
                          <option value="s">S</option>
                          <option value="m">M</option>
                          <option value="l">L</option>
                          <option value="xl">XL</option>
                          <option value="xxl">XXL</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <label class="form-check-label" for="sex">Sex: <span class="red">*</span></label>
                        <select id="sex" name="sex" class="form-control" required>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <label class="form-check-label" for="addrline1">Address line 1: <span class="red">*</span></label>
                        <input id="addrline1" type="text" name="addrline1" class="form-control" placeholder="" required>
                      </div>
                    </div>

                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <label class="form-check-label" for="addrline1">Address line 2: </label>
                        <input id="addrline2" type="text" name="addrline2" class="form-control" placeholder="">
                      </div>
                    </div>

                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <label class="form-check-label" for="addrline1">Address line 3: </label>
                        <input id="addrline3" type="text" name="addrline3" class="form-control" placeholder="">
                      </div>
                    </div>

                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <label class="form-check-label" for="city">City / Town: <span class="red">*</span></label>
                        <input type="text" name="city" class="form-control" placeholder="" required>
                      </div>
                    </div>

                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <label class="form-check-label" for="spr">State / Province / Region: </label>
                        <input type="text" name="spr" class="form-control" placeholder="">
                      </div>
                    </div>

                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <label class="form-check-label" for="zip">ZIP / Postal Code: <span class="red">*</span></label>
                        <input type="text" name="zip" class="form-control" placeholder="" required>
                      </div>
                    </div>

                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <select id="countrySelect" name="country" class="form-control" required>
                        </select>
                      </div>
                    </div>

                    
                  </div>
                  <p id="error-msg" class="red" style="display: none;">Please fill in all the fields</p>
                </form>
              </div>

              <div class="modal-footer justify-content-center">
                <a href="javascript:sendUserIntroForm()" class="btn btn-primary btn-link btn-wd btn-lg">Submit</a>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div id="twitch-player" class="text-center" style="display: none;">
            <iframe src="https://player.twitch.tv/?channel=studenthack" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
          </div>
          <div class="row">
            <!-- TIMER -->
            <div class="col-xl-3 col-lg-12">
              <div class="card text-center">
                <div class="card-body">
                  <!--Timer code here-->
                  <h1>
                    <span id="hours">24</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
                  </h1>
                </div>
              </div>
            </div>
            <!-- USEFUL LINKS -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="https://twitch.com/studenthack" target="_blank" rel="noopener noreferrer">
                <div class="card card-stats">
                  <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                      <i class="fab fa-twitch"></i>
                    </div>
                    <p class="card-category">Ceremonies</p>
                    <h3 class="card-title">Twitch
                    </h3>
                  </div>
                  <div class="card-footer">
                    <div id="twitch-status-container" class="twitch-status">
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="https://studenthack8.devpost.com/" target="_blank" rel="noopener noreferrer">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <img src="https://img.icons8.com/color/50/000000/devpost.png">
                    </div>
                    <p class="card-category">Judging</p>
                    <h3 class="card-title">Devpost
                    </h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      Submit your hack!
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="https://d3v5ckld8447nl.cloudfront.net/Code_of_Conduct.pdf" target="_blank"
                rel="noopener noreferrer">
                <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                      <i class="fas fa-file-alt"></i>
                    </div>
                    <p class="card-category"><br></p>
                    <h3 class="card-title">Code Of Conduct
                    </h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      Please read the rules!
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!-- SCHEDULE -->
            <div class="col-lg-5 col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-warning">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title">Schedule:</span>
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#saturday" data-toggle="tab">
                            Saturday
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#sunday" data-toggle="tab">
                            Sunday
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="saturday">
                      <table class="table">
                        <thead class="text-warning">
                          <th>Time (BST)</th>
                          <th>Event</th>
                          <th>Channel</th>
                        </thead>
                        <tbody>
                          <% events.forEach(event => { %>
                          
                          <% if (event.startTime.getDay() == 6) { %>
                          <tr>
                            <td>
                              <%- event.startTime.getHours() %>:<%- event.startTime.getMinutes() < 10 ? "0" + event.startTime.getMinutes() : event.startTime.getMinutes() %>
                            </td>
                            <td>
                              <%- event.title %>
                            </td>
                            <td>
                              <%- event.location %>
                            </td>
                          </tr>
                          <% } %>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane" id="sunday">
                      <table class="table">
                        <thead class="text-warning">
                          <th>Time (BST)</th>
                          <th>Event</th>
                          <th>Location</th>
                        </thead>
                        <tbody>
                          <% events.forEach(event => { %>
                          <% if (event.startTime.getDay() == 0) { %>
                          <tr>
                            <td>
                              <%- event.startTime.getHours() %>:<%- event.startTime.getMinutes() < 10 ?  "0" + event.startTime.getMinutes():event.startTime.getMinutes() %>
                            </td>
                            <td>
                              <%- event.title %>
                            </td>
                            <td>
                              <%- event.location %>
                            </td>
                          </tr>
                          <% } %>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-12">
              <div class="row">
                <!-- ANNOUNCEMENTS -->
                <div class="col-lg-8 col-md-12">
                  <div class="card">
                    <div class="card-header card-header-tabs card-header-success">
                      <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                          <span class="nav-tabs-title"></span>
                          <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                              <a class="nav-link active" href="#profile" data-toggle="tab">
                                <i class="material-icons">today</i> Announcements
                                <div class="ripple-container"></div>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                          <table class="table">
                            <tbody>
                              <% announcements.forEach(announcement => { %>
                              <tr>
                                <td>
                                  <%- announcement.message %>
                                </td>
                              </tr>
                              <% }) %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- FLOOR PLAN -->
                <div class="col-lg-12">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="fas fa-map-marked-alt"></i>
                      </div>
                      <h3 class="card-title">Hacker Map
                      </h3>
                    </div>
                    <div class="card-body">
                      <div id="hackermap">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- TODO list -->
              <!-- <div class="col-lg-3 col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-danger">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title">To-do:</span>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div id="profile">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td>Create your team on the <a href="/profile">profile page</a>.</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td>Add a link to your team git repository on the <a href="/profile">profile page</a>.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div> -->
            </div>
          </div>
          <% include ../partials/footer.ejs %>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
      <script src="/js/plugins/moment.min.js"></script>
      <script src="/js/timer.js"></script>
      <script src="/js/dashboard.js"></script>
      <script src="/js/plugins/jvectormap.min.js"></script>
      <script src="https://jvectormap.com/js/jquery-jvectormap-world-mill.js"></script>
      <script src="/js/locationmap.js"></script>
      <script>
        var needIntro = <%- shouldShowIntro %>;
        if (needIntro) {
          $('#introModal').modal({
            backdrop: 'static',
            keyboard: false
          });
        }
      </script>
</body>

</html>