<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>GUH19 Hub - Profile</title>
  <link rel="stylesheet" href="/css/dashboard.css">
  <script src="/js/profile.js"></script>
</head>

<body>
  <div class="wrapper">
    <% include ../partials/navbar.ejs %>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <h4 class="card-title">Personal Information</h4>
                </div>
                <div class="card-body text-center">
                  <h2><%= user.name %></h2>
                  <h3 id="emailText"><%= user.email %></h3>
                </div>

                <% if (user.team) { %>
                <div class="card-body">
                  <div class="form-group">
                    <label for="teamName">Team Name </label>
                    <input type="text" class="form-control" id="teamName" placeholder="Hackathon Team" value="<%= teamEntity.name %>" disabled>
                  </div>
                </div>
                <% } %>

                <div class="card-body">
                  <div class="form-group">
                    <% if (!user.team) { %>
                    <label for="tableNumber">Team Table Number</label>
                    <input type="number" class="form-control" id="tableNumber" placeholder="42" disabled>
                    <small class="form-text text-muted text-danger">First, create a team and then the input above will become editable.</small>
                    <% } else { %>
                    <label for="tableNumber">Team Table Number</label>
                    <input type="number" class="form-control" id="tableNumber" placeholder="42" value="<%= teamEntity.tableNumber %>" min="0">
                    <button class="btn btn-success" onclick="updateTableNumber($('#tableNumber').val())">Save</button>
                    <% } %>
                  </div>
                </div>

              </div>
            </div>
            
            <% if (user.team) {%>
            <div class="col-md-6 col-lg-6">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <h4 class="card-title">Team Information</h4>
                </div>
                <div class="card-body">
                  <% if (user.team.name) { %>
                    <h2 class="text-center text">Team name: <%= user.team.name %></h2>
                  <% } else { %>
                    <h2 class="text-center text">Team code: <%= user.team.teamCode %></h2> 
                  <% } %>
                  <div class="form-group">
                    <div id="teamMemberList">
                      <h3>Team members</h3>
                      <% team.forEach(teamMember => { %>
                        <p><%= teamMember.name %></p>
                      <% }) %>
                    </div>
                    <% if (!restrict) { %>
                    <button class="btn btn-danger" onclick="leaveTeam()">Leave Team</button>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <% } else { %>
            <div class="col-md-6 col-lg-6">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <h4 class="card-title">Team Information</h4>
                </div>
                <div class="card-body text-center">
                  <h2>Create or join a team!</h2>
                </div>
                <% if (!restrict) { %>
                <div class="card-body">
                  <div class="form-group">
                    <button class="btn btn-warning" onclick="createTeam()">Create a team</button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="teamCodeInput">Team name or code</label>
                    <input type="text" class="form-control" id="teamCodeInput" placeholder="aWeRsOmEtEaM">
                    <button class="btn btn-success" onclick="joinTeam($('#teamCodeInput').val())">Join team</button>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <% } %>

          </div>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
    </div>
  </div>
</body>
</html>